{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="thermometric">

    <!-- Page Title -->
    <title> Friends Plastic Industry </title>

    <!-- Favicon and Touch Icons -->


    <link href="{% static 'assets/images/favicon/favicon.png' %}" rel="shortcut icon" type="image/png">
    <link href="{% static 'assets/images/favicon/apple-touch-icon-57x57.png' %}" rel="apple-touch-icon" sizes="57x57">
    <link href="{% static 'assets/images/favicon/apple-touch-icon-72x72.png'  %}" rel="apple-touch-icon" sizes="72x72">
    <link href="{% static 'assets/images/favicon/apple-touch-icon-114x114.png' %}" rel="apple-touch-icon" sizes="114x114">
    <link href="{% static 'assets/images/favicon/apple-touch-icon-144x144.png' %}" rel="apple-touch-icon" sizes="144x144">

    <!-- Icon fonts -->
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/flaticon.css' %}" rel="stylesheet">
    <link href="{% static '//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Plugins for this template -->
    <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/owl.theme.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/slick.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/slick-theme.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/owl.transitions.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/jquery.fancybox.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/jquery.mCustomScrollbar.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{% static 'https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js' %}"></script>
    <script src="{% static 'https://oss.maxcdn.com/respond/1.4.2/respond.min.js'  %}"></script>
    <![endif]-->

</head>

<body>

    <!-- start page-wrapper -->
    <div class="page-wrapper">

        <!-- start preloader -->
        <div class="preloader">
            <div class="preloader-inner">
                <img src="{% static 'assets/images/preloader.gif' %}" alt>
            </div>
        </div>
        <!-- end preloader -->

        <!-- Start header -->
        <header id="header" class="site-header header-style-5">
            <div class="topbar topbar-style-2">
                <div class="container">
                    <div class="row">
                        <div class="col col-sm-7">
                            <div class="topbar-contact-info-wrapper">
                                <div class="topbar-contact-info">
                                    <div>
                                        <i class="fa fa-location-arrow"></i>
                                        <div class="details">
                                            <p>Friends Plastic Factory, Budhla Sant Road Near Umm-e-Yahya Mosque Multan</p>
                                        </div>
                                    </div>
                                    <div>
                                        <i class="fa fa-phone"></i>
                                        <div class="details">
                                            <p>0310-011-11-24</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-sm-5">
                            
                        </div>
                    </div>
                </div> <!-- end container -->
            </div> <!-- end topbar -->

            <div class="lower-topbar">
                <div class="container ">
                    <div class="row">
                        <div class="col col-sm-3">
                            <div class="site-logo">
                                <a href="#"><img src="{% static 'assets/images/logo-2.png' %}" width="200"height="350" alt="img"></a>
                            </div>
                        </div>
                        <div class="col col-sm-9">
                            <div class="awards">
                                <div>
                                    <div class="icon"><i class="fi flaticon-title"></i></div>
                                    <div class="award-info">
                                        <h6>Member of Directroate of labour welfare</h6>
                                        <p>REG: 2020012200536</p>
                                    </div>
                                </div>
                                <div>
                                    <div class="icon"><i class="fi flaticon-title"></i></div>
                                    <div class="award-info">
                                        <h6>Member of the Multan Chamber of Commerce & Industry,<p>Shahrah-e-Aiwan-e-Tijarat-o-Sanat,Multan (Pakistan)</p> </h6>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end lower-topbar -->

            <nav class="navigation navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="open-btn">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse navigation-holder">
                        <button class="close-navbar"><i class="fa fa-close"></i></button>
                        <ul class="nav navbar-nav">
                            <li class="menu-item-has-children">
                                <a href="placeyourorder.html">Place Your Order</a>
                               
                            </li>

                        </ul>
                    </div><!-- end of nav-collapse -->

                    

                    
                </div><!-- end of container -->
            </nav> <!-- end navigation -->
        </header>
        <!-- end of header -->


        <!-- start of hero -->   
        <section class="hero hero-slider-wrapper">
            <div class="hero-slider hero-slider-style-1">
                <div class="slide">
                    <img src="{% static 'assets/images/slider/slide-1.jpg' %}" alt class="slider-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col col-lg-8 col-sm-9 slide-caption">
                                <h2>We provide the best <span>Industrial</span> Services nationwide</h2>
                                <p>Our mission is to provide the best thing to the best.</p>
                               
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slide">
                    <img src="{% static 'assets/images/slider/slide-2.jpg' %}" alt class="slider-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col col-lg-8 col-sm-9 slide-caption">
                                <h2>We provide the best <span>Industrial</span> Services worldwide</h2>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="slide">
                    <img src="{% static 'assets/images/slider/slide-3.jpg' %}" alt class="slider-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col col-lg-8 col-sm-9 slide-caption">
                                <h2>We provide the best <span>Industrial</span> Services worldwide</h2>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of hero slider -->
        
        
        <!-- start of services -->
        <section class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-3 col-md-4">
                        <div class="section-title">
                            <h2>Our services</h2>
                        </div>
                    </div>
                  
                   
                    </div>
                </div> <!-- end row -->
                
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="services-grids service-slider dots-s1">
                            <div class="grid">
                               <div class="inner mk-bg-img">
                                    <div class="details ">
                                       <div class="info">
                                            <img src="{% static 'assets/images/services/img-1.jpg' %}" alt class="bg-image">
                                            <a href="service-single.html">
                                                <h3><i class="fi flaticon-bags"></i> Natural Shopping Bags</h3>
                                            </a>

                                       </div>
                                    </div>
                               </div>
                            </div>
                            <div class="grid">
                               <div class="inner mk-bg-img">
                                    <div class="details ">
                                       <div class="info">
                                            <img src="{% static 'assets/images/services/img-2.jpeg' %}" alt class="bg-image">
                                            <a href="service-single.html">
                                                <h3><i class="fi flaticon-bags"></i> Printing Shopping Bags</h3>
                                            </a>

                                       </div>
                                    </div>
                               </div>
                            </div>
                            <div class="grid">
                               <div class="inner mk-bg-img">
                                    <div class="details ">
                                       <div class="info">
                                            <img src="{% static 'assets/images/services/img-3.jpg' %}" alt class="bg-image">
                                            <a href="service-single.html">
                                                <h3><i class="fi flaticon-bafs"></i> HD Bags</h3>
                                            </a>
                                       </div>
                                    </div>
                               </div>
                            </div>
                            
                        </div> <!-- end services-grids -->
                    </div> <!-- end col -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end of services -->
        
        
       
    


        <!-- start offer -->
        <section class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-md-4">
                        <div class="section-title">
                            <h2>What we offer</h2>
                        </div>
                        <div class="offer-text">
                            <p><i>Shopping Bags</i></p>
                        </div>
                    </div>
                    <div class="col col-md-8">
                        <div class="offer-grids">
                            <div class="grid">
                                <div class="details">
                                    <div class="icon">
                                        <i class="fi flaticon-construction"></i> 
                                    </div>
                                    <h3>Advanced Technology</h3>
                                     <p>All avalible advanced technology</p>   
                                </div>
                            </div>
                            <div class="grid">
                                <div class="details">
                                    <div class="icon">
                                        <i class="fi flaticon-people"></i> 
                                    </div>
                                    <h3>Expert Engineers</h3>
                                    <p>Expert Engineers are there for the supervision of our all kind of stuff </p>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="details">
                                    <div class="icon">
                                        <i class="fi flaticon-support"></i> 
                                    </div>
                                    <h3>Customer Support</h3>
                                    <p>Our customer support is avalible 24/7 as you can put order at any time by clicking on place your order</p>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="details">
                                    <div class="icon">
                                        <i class="fi flaticon-time-passing"></i> 
                                    </div>
                                    <h3>Delivery On time</h3>
                                    <p>All the delivery will must be on the given time by the company</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end offer -->  


        <!-- recent-project --> 
       
        <!-- end recent-project -->


        <!-- start about-us-faq -->
        <section class="section-padding about-us-faq">
            <div class="container ">
                <div class="row">
                    <div class="col col-lg-5">
                        <div class="about-us-section">
                            <div class="section-title-s3">
                                <span>About us</span>
                                
                                <h2>We are determine to</h2>
                                <ul>
                                    <li>Achieve sustainable growth to benefit our stakeholders</li>
                                    <li>Providing a range of products we expertise in, to our Customers</li>
                                    <li>Develop long term strategic relations with our Business Partners</li>
                                    <li>Provide a platform to our employees for their career growth</li>
                                    <li>Promote professionalism</li>
                                </ul>
                            </div>
                        
                            <div class="details">
                                <h1>Vision</h1>
                            <p>Make the organization a symbol of trust and comfort for our Valued Customers and be recognized as an entity with protocols of professionalism and integrity based on our commitment to total quality management at all echelons of the organizaton</p>                                
                            </div>
                            
                            
                        </div>
                        <div class="card text-align-right" style="width: 18rem;">
                            <img src="{% static 'assets/images/services/client.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Ali Arslan</h5>
                              <p class="card-text"><i>CEO FRIENDS PLASTIC FACTORY</i></p>
                              <a href="https://twitter.com/aliarsl20076191?s=11&t=JQG2hlHvECVMklfgJAcTlQ" class="fa fa-twitter"></a>
                            </div>
                          </div>
                            
                        </div>
                    </div>
                    
                </div> <!-- end row -->
            </div> <!-- end container -->
            <div class="backhoe-loader">
                <img src="{% static 'assets/images/backhoe-loader.png' %}" alt>
            </div>
        </section>
        <!-- end start about-us-faq -->

        <!-- start site-footer -->
        <footer class="site-footer">
            <div class="upper-footer">
                <div class="container">
                    <div class="row">
                        <div class="col col-md-3 col-sm-6">
                            <div class="widget about-widget">
                                <div class="footer-logo"><img src="{% static 'assets/images/logo.png' %}" alt></div>
                                <ul class="contact-info">
                                    <li><i class="fa fa-home"></i>Friends Plastic Factory, Budhla Sant Road Near Umm-e-Yahya Mosque Multan</li>
                                    <li><i class="fa fa-phone"></i> 0310-011-11-24</li>
                                    <li><i class="fa fa-home"></i> Working Hours: <br>Sat-Thr (9 am - 6 pm)</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col col-md-3 col-sm-6">
                            <div class="widget service-links-widget">
                                <h3>All Products</h3>
                                <ul>
                                    <li>Natural Shopping Bags</li>
                                    
                                    <li>HD Bags</li>
                            
                                    <li>Printing Shopping Bags</li>
                                    
                                    <li>PT Bags</li>
                                </ul>
                                
                            </div>
                        </div>


                        <div class="col col-md-3 col-sm-6">
                            <div class="widget twitter-feed-widget">
                                <div class="mapouter"><div class="gmap_canvas"><iframe width="453" height="305" id="gmap_canvas" src="https://maps.google.com/maps?q=30%C2%B010'21.2%22N%2071%C2%B032'06.5%22E&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org">123movies</a><br><style>.mapouter{position:relative;text-align:right;height:305px;width:453px;}</style><a href="https://www.embedgooglemap.net">embedgooglemap.net</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:305px;width:453px;}</style></div></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end upper-footer -->
            
        </footer>
        <!-- end site-footer -->
    </div>
    <!-- end of page-wrapper -->



    <!-- All JavaScript files
    ================================================== -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Plugins for this template -->
    <script src="{% static 'assets/js/jquery-plugin-collection.js' %}"></script>
    <script src="{% static 'assets/js/jquery.mCustomScrollbar.js' %}"></script>

    <!-- Custom script for this template -->
    <script src="{% static 'assets/js/script.js' %}"></script>

    <script src="{% static '//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js' %}"></script>
<script src="{% static '//code.jquery.com/jquery-1.11.1.min.js' %}"></script>
</body>


</html>
